/* Default Styles */

.dataTables_length,
.dataTables_wrapper {
  font-size: 1.6rem;
  display: inline;
  width: 50%;
  select,
  input {
    background-color: #f9f9f9;
    border: 1px solid #999;
    border-radius: 4px;
    height: 3rem;
    line-height: 2;
    font-size: 1.8rem;
    color: #333;
  }

  .dataTables_length,
  .dataTables_filter {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline;
  }
}

.paginate_button {
  min-width: 4rem;
  display: inline-block;
  text-align: center;
  padding: 1rem 1.6rem;
  margin-top: -1rem;
  border: 2px solid lightblue;
  &:not(.previous) {
    border-left: none;
  }
  &.previous {
    border-radius: 8px 0 0 8px;
    min-width: 7rem;
  }
  &.next {
    border-radius: 0 8px 8px 0;
    min-width: 7rem;
  }

  &:hover {
    cursor: pointer;
    background-color: #eee;
    text-decoration: none;
  }
}

/* Custom Styles */

#alltasksDataTable th {
  background: #fc0;
  text-transform: uppercase;
  font-size: 12px;
}

#alltasksDataTable th,
#alltasksDataTable td,
#alltasksDataTable_wrapper .dataTables_info,
#alltasksDataTable_wrapper a.paginate_button {
	
  font-family: UniversLTW01-67BoldCn, "Arial Narrow", Arial !important;
}

#alltasksDataTable .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e6e6e6 !important;
}

#alltasksDataTable_wrapper a.paginate_button {
  background: #ffcd11;
  transition: 0.2s;
  color: #000;
  border: 0;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 15px;
  line-height: 2.5;
  margin-left: 2px;
  margin-right: 2px;
}

#alltasksDataTable_wrapper a.paginate_button:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background: #000;
  transform: translate3D(0, -3px, 0);
  box-shadow: 0 5px 10px #d5d5d5;
}

#alltasksDataTable_wrapper .dataTables_info {
  font-size: 14px;
}

@media (max-width: 768px) {
  #alltasksDataTable_wrapper .dataTables_info {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

#used-equipment-table th.red {
  background: #af0e0e;
  color: #fff;
}

/* Label */

#used-equipment-table .dataTables_length {
	width: 50%;
  margin-top: 10px;
}

/* Search */

#alltasksDataTable_filter {
  margin-top: -30px;
}

@media (max-width: 768px) {
  #alltasksDataTable_filter {
    margin-top: 0px;
  }
}

/* Price */

#alltasksDataTable .status {
  font-weight: bold;
  color: #af0e0e;
}

/* Legal */

p#legal {
  margin-top: 10px;
}
